doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Language Learning App
    link(rel='stylesheet', href='/styles/style.css')
  body
    h1 Welcome to Language Learning App
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
