extends ../head.pug

block content
  .container.mt-4
    h1.mb-4 User Registration
    if errors
      .alert.alert-danger
        ul
          each err in errors
            li= err.msg
    form(method="post", action="/api/user/register")
      .form-group
        label(for="email") Email:
        input.form-control(type="text", id="email", name="email", required, value=formData ? formData.email : '')
      .form-group
        label(for="password") Password:
        input.form-control(type="password", id="password", name="password", required)
      button.btn.btn-primary(type="submit") Register
